/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* .container-fluid {
 padding-left: -100;
} */

#test-h1 {
  margin-left: 450px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  padding-top: 10px;
}

#center {
  text-align: center;
}